{% load staticfiles %}

            <div class="col-sm-12" id="footer">
                    <div class="container-fluid">
                            <a href="{{ host }}aboutus"><button>About and Contact Us</button></a>
                    </div>
                    <div class="container-fluid">
                        <a href="https://www.facebook.com/pages/AMAZ-TV/1410512039233024" target="_blank"><img src="{% static "img/facebook.png" %}" id="social_icon"></a>
                        <a href="https://twitter.com/amaz_tv" target="_blank"><img src="{% static "img/twitter.png" %}" id="social_icon"></a>
                        <a href="https://plus.google.com/110224885824827896135/posts" target="_blank"><img src="{% static "img/google-plus.png" %}" id="social_icon"></a>
                        <a href="http://amaz-tv.tumblr.com/" target="_blank"><img src="{% static "img/tumblr.png" %}" id="social_icon"></a>
                    </div>
                </div>
            </div>
        </div>

    <!-- JS -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/transition.js" %}"></script>
    <script src="{% static "js/html5shiv.min.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
    <script src="{% static "js/modal.js" %}"></script>
    <!-- JS -->

</body>
</html>
